name: 'json_dynamic_widget_plugin_markdown'
description: 'A plugin to the JSON Dynamic Widget to provide support for Markdown'
homepage: 'https://github.com/peiffer-innovations/json_dynamic_widget_plugin_markdown'
version: '4.0.1+2'

environment:
  sdk: '>=3.0.0 <4.0.0'

analyzer:
  exclude:
    - 'lib/generated/**'
    - 'lib/**/*.g.dart'

dependencies:
  child_builder: '^2.0.1'
  flutter:
    sdk: 'flutter'
  flutter_markdown: '^0.6.13+1'
  intl: '^0.18.0'
  json_class: '^2.1.5+1'
  json_dynamic_widget: '^6.0.4'
  json_theme: '^5.0.0+2'
  logging: '^1.1.1'
  markdown: '^6.0.1'
  meta: '^1.9.0'
  uuid: '^3.0.7'

false_secrets:
  - 'example/web/index.html'

dev_dependencies:
  flutter_test:
    sdk: 'flutter'

ignore_updates:
  - 'archive'
  - 'async'
  - 'boolean_selector'
  - 'characters'
  - 'charcode'
  - 'collection'
  - 'clock'
  - 'crypto'
  - 'fake_async'
  - 'file'
  - 'matcher'
  - 'material_color_utilities'
  - 'meta'
  - 'path'
  - 'source_span'
  - 'stack_trace'
  - 'stream_channel'
  - 'string_scanner'
  - 'sync_http'
  - 'term_glyph'
  - 'test_api'
  - 'typed_data'
  - 'vector_math'
  - 'webdriver'
